<div class="">
  <h1><%= @product.name %></h1>
  <h3><%= number_to_currency @product.price %></h3>
  <p><%= @product.description %></p>
  <div class="add-product">
    <%= form_for @order_item do |f| %>
    <%= f.hidden_field :product_id, value: @product.id %>
    <%= f.number_field :quantity, value: 1 %>
    <%= f.submit "Add to cart" %>
    <% end %>
  </div>
</div>

<div class="">
  <%if current_user && current_user.admin %>
    <%= link_to "Edit product", edit_product_path(@product)%>
    <br>
    <%= link_to "Delete product", product_path(@product), method: "delete" %>
  <% end %>
</div>
